<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/horaireStylesheet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Feuille de temps</title>
    {% endblock %}
</head>
<body class="text-center">

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='vendor/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/fonctions.js') }}"></script>
</body>
</html>